body {
  font-family: Arial, sans-serif;
  background-color:#dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

 .t-login { 
  width: 150%;
  max-width: 300px;
  padding: 30px;
  background-color: #289DD2;
  border-radius: 1px;
  border-color: black;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #289DD2;
  
}

p{
  color: white;
}
.t-login {
  color: white;
}

.login-title {
  text-align: center;
  margin-bottom: 30px;
 
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #fff;
}

.form-control {
  width: 93%;
  padding: 10px;
  font-size: 16px;
  border: none; 
  border-radius: 13px;
  background-color:#D1E6F0; 
  margin-bottom: 10px;
  
}
.btn-primary {
  background-color: #365B6D;
  border: none; 
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 13px;
  color: #fff;
  cursor: pointer;
}

.btn-primary:hover {
  background-color:#45CFB6
}
h1{
  text-align: center;
  color: white;
}
